{% extends 'main/layout.html' %}
{% load static %}

{% block content %}
<div style="display: block; width: 30%; margin-left: 30%; padding-top: 160px;">
    <form action="Change" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <input type="hidden" name="oldName" value="{{ restoran.name }}">

        <div class="form-outline">
            <input type="text" id="City" name="city" value="{{ restoran.city }}" class="form-control form-control-lg" required/>
            <label class="form-label" for="City" style="font-weight: bold; ">City</label>
        </div>

        <div class="form-outline">
            <input type="text" id="Name" name="name" value="{{ restoran.name }}" class="form-control form-control-lg" required/>
            <label class="form-label" for="Name" style="font-weight: bold; ">Name</label>
        </div>

        <div class="form-outline">
            <img src="{{ restoran.img }}" width="830" height="450">
            <input type="text" id="avatar" name="img" value="{{ restoran.img }}" class="form-control form-control-lg" style="margin-top: 30px;"/>
            <label class="form-label" for="avatar" style="font-weight: bold; ">Avatar</label>
        </div>

        <div class="form-outline" style="margin-top: 10px; display: inline-flex;">
            <input type="text" name="mapUrl" style="width: 400px;" value="{{restoran.mapUrl}}">
            <a href="{{ restoran.mapUrl }}"><img src="https://img.icons8.com/color/48/null/google-maps.png" width="40" height="40" style="margin-left: 10px; "/></a>
            <label class="form-label" for="about" style="font-weight: bold; margin-left: 10px; margin-top: 5px;" >Map Url</label>
        </div>

        <div class="form-outline" style="margin-top: 10px;">
            <textarea name="about" style="width: 100%;">{{restoran.about}}</textarea>
            <label class="form-label" for="about" style="font-weight: bold; " >About</label>
        </div>

        <button class="btn btn-outline-success" type="submit" style="background-color: green; color: white;">Change</button>
    </form>
</div>
{% endblock %}